
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg-color: #ced9dd;
    --blog-section-bg-color: #FAF9F6;
    --blog-entry-outline-color: #9eb6d0;
    --blog-entry-bg-color: #F0F8FF;
    --blog-from-bg-color: #2e457d;

    --font-color : #252525;
    --create-color: #0BDA51;
    --update-color: #FFAC1C;
    --delete-color: #f44336 ;
}



body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height:  100vh;
}

header{
    background-color: var(--header-bg-color);
    text-align: center;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
}

.content-container{
    background-color: rgb(255, 255, 255);
    width: 70%;
}

.entry-container{
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;

    background-color: var(--blog-section-bg-color);

    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.entry-content {
    width: 90%;
    padding: 5px;

    border: 3px solid var(--blog-entry-outline-color);
    background-color: var(--blog-entry-bg-color);
    border-radius: 6px;
}
.entry-header {
    display: flex;
    justify-content: space-between;
}


.entry-title {
    font-size: 2.5rem;
}

.entry-date {
    border-left: 3px solid black;
    padding-left: 10px;
    border-radius: 3px;
}

.entry-main {
    margin-top: 5px;
    white-space: pre-wrap;
}

.form-container{
    background-color: var(--header-bg-color);
    width: 30%;
    min-width: 250px;

    color: var(--font-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-top: 12px;
    padding-bottom: 12px;
}

.form-container form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    padding: 10px;
    border-radius: 4px;
    border: 3px solid var(--blog-entry-outline-color);

    width: 90%;
    height: 90%;

    
}

#form-identifier{
    text-align: center;
    box-sizing: border-box;

    padding: 20px;
    background-color: var(--blog-entry-outline-color);
    border-radius: 6px;

    color: var(--font-color);
}

.form-item{

    margin-top: 5px;
    margin-bottom: 5px;

    input[type="text"]{
        width: 100%;
        padding: 5px;
        margin: 10px 0;
        box-sizing: border-box;

        font-size: 1.2rem;

        border: none;
        border-radius: 4px;
    }

    textarea{
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        resize: vertical;

        margin: 10px 0;
        padding: 5px;

        border: none;
        border-radius: 4px;
    }
    
}
button {
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 12px;

    font-weight: bolder;
    background-color:  lightskyblue;
    text-shadow: 1px 1px 2px #25252558;
    color: white;
    text-transform: uppercase;
}

.blog-bttn{
    width: 90%;
}

#new-blog-bttn{
    width: 100%;
    background-color: var(--create-color);
}

#delete-bttn {
    background-color: var(--delete-color);
}

#focus-bttn {
    background-color: var(--update-color);
}


