*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg-color: #ced9dd;
    --blog-entry-outline-color: #9eb6d0;
}



body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    width: 100vw;
    height:  100vh;


}

header{
    background-color: var(--header-bg-color);
    text-align: center;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
}

.content-container{
    background-color: rgb(255, 255, 255);
    width: 70%;
}

.entry-container{
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-top: 20px;

    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.entry-content {
    width: 90%;
    padding: 5px;

    border: 3px solid var(--blog-entry-outline-color);
    border-radius: 6px;
}

.entry-title {
    font-size: 2.5rem;
}

.entry-date {
    border-left: 3px solid black;
    padding-left: 10px;
    border-radius: 3px;
}

.entry-main {
    margin-top: 5px;
}

.form-container{
    background-color: blanchedalmond;
    width: 30%;
    min-width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}



